@use 'sass:color';
@use '@material/theme/color-palette';
// Svelte Colors!
@use '@material/theme/index' as theme with ( $primary: #31312e, $secondary: #ffd600, $surface: #fff, $background: #fff, $error: color-palette.$red-900, );
html,
body {
    background-color: theme.$surface;
    color: theme.$on-surface;
}

a {
    color: #ffb340;
}

a:visited {
    color: color.scale(#ff8640, $lightness: -35%);
}